# 6장 데이터 로딩과 저장, 파일 형식

In [5]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic'

# 1. csv 텍스트 데이터
## 1.1 csv파일 읽기
* 판다스에서 CSV 파일을 읽기: pd.read_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

    1) header(컬럼명)가 있는 파일

In [6]:
!cat examples/ex1.csv

df = pd.read_csv("examples/ex1.csv", encoding= "utf-8") # csv file -> DataFrame으로 반환
type(df)
df.head(2)

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

    2) header가 없는 파일 : 컬럼을 지정
        * names 인수 - 열 이름 리스트
        * header 인수 - 헤더가 없을 경우 None으로 지정

In [7]:
!cat examples/ex2.csv

names = ["a", "b", "c", "d", "message"]
data = pd.read_csv("examples/ex2.csv", names=names) #names 인수 - 데이터프레임의 컬럼명 지정
data

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    3) 계층적 색인 지정하기
        * index_col 인수 - 색인으로 사용할 열 번호나 이름, 계층적 색인을 지정할 경우 리스트

In [8]:
!cat examples/csv_mindex.csv
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

    4) 여러 개의 공백(spacebar)으로 필드를 구분한 파일 : txt포맷
        * sep 인수 - 필드(컬럼)을 구분하기 위해 사용할 정규 표현식

In [9]:
!cat examples/ex3.txt
result = pd.read_csv("examples/ex3.txt", sep="\s+") # 정규표현식 : " \s+  "
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

    5) 주석을 갖고 있는 파일
        * skiprows 인수 - 파일의 시작부터 무시할 행 수 또는 무시할 행 번호가 담긴 리스트

In [10]:
!cat examples/ex4.csv
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    6) 누락된 값이 있는 파일 : 비어 있는 문자열, NA, NULL을 NaN으로 출력 
        * na_values 인수 - NA 값으로 처리할 값들의 목록

In [11]:
!cat examples/ex5.csv
# na_values 인수을 사용하지 않은 경우
result = pd.read_csv("examples/ex5.csv")
result
# 1) 누락된 값을 확인 : isna(), isnull(), notna(), notnull()
pd.isna(result)

# 2) na_values -> 컬럼별 문자열 집합을 받아서 누락된 값 처리
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
result = pd.read_csv("examples/ex5.csv", na_values=sentinels)
print(result)
result.isna()

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

   something      a      b      c      d  message
0      False  False  False  False  False     True
1       True  False  False   True  False    False
2      False  False  False  False  False     True

    7) 텍스트 파일 조금씩 
        * nrows 인수 - 파일의 첫 일부만 읽어올 때 처음 몇 줄을 읽을 것인지 지정 
        * chunksize 인수 - TextParser 객체에서 사용할 한 번에 익을 파일의 크기

In [5]:
#pd.options.display.max_rows = 10
# !cat examples/ex6.csv
# result = pd.read_csv("examples/ex6.csv")
# result
# result = pd.read_csv("examples/ex6.csv", nrows=5)
# result

### [예제]  ex6.csv 파일을 순회하면서 "key"열의 값을 세기

In [13]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
chunker
# type(chunker)
#1) 리스트의 시리즈 생성 - 청크 다위로 key"열의 값 저장
tot = pd.Series([], dtype='int64')
type(tot)
#2) 반복 처리 

for piece in chunker:
    # print(type(piece["key"]))
    # print(piece["key"].value_counts())
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [14]:
# note
from pandas import Series
tot = pd.Series([], dtype='int64')
# type(tot) # Series

for piece in range(3):
    tot = tot.add(Series([1,2,3]), fill_value = 10) # tot + Series([1,2,3]
tot

0    13.0
1    16.0
2    19.0
dtype: float64

## 1.2. csv 텍스트 파일 저장하기
* 판다스에서 CSV 파일을 저장하기: df.to_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

In [15]:
!cat examples/ex5.csv
# 1) 준비 : DataFrame
data = pd.read_csv("examples/ex5.csv") #-> DataFrame 반환
# 2. 조작 : DataFrame에서 인덱싱해서 필요한 데이터 추출-> DataFrame
data1 = data[['a','b','d']]
print(data1)
# # 3. data1 -> csv 파일로 저장
data1.to_csv("examples/out.csv")

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo
   a   b   d
0  1   2   4
1  5   6   8
2  9  10  12

In [16]:
data1.to_csv("examples/out.csv", sep="|") # 구분자 사용
data1.to_csv("examples/out.csv", na_rep = "NULL") #누락된 값을 원하는 값으로 지정
# data.to_csv("examples/out.csv", index=False, header=False)
data1.to_csv("examples/out.csv", index=False, columns=["a", "b", "d"])

# 2. JSON  데이터
* JSON(JavaScript Object Notation)은 텍스트 데이터를 저장하고 전송하기 위한 일반적인 형식
* 주로 웹에서 데이터를 전송하거나 저장하는 데 사용
* JSON 파일은 일반적으로 텍스트 형식으로 작성되며, 사람과 기계 모두 이해하기 쉽다.
* JSON 파일은 키-값 쌍의 모음으로 구성
  * 키-값 쌍은 객체(object)라고도 하며, 중괄호 {} 로 묶는다.
  * 배열(array)은 대괄호 [] 안에 값의 목록을 나열하여 정의.

## 2.1 JSON 데이터 읽기/저장
    * pandas의 to_json() -> 데이터프레임을 JSON 파일로 저장
    * read_json() -> JSON 파일에서 데이터프레임을 읽어오기

### [예제]  pandas의 to_json() 및 read_json() 메서드를 사용하여 데이터프레임을 JSON 파일로 저장하고 읽기

In [17]:
# 1. pandas 라이브러리 임포트
import pandas as pd

# 2. JSON 파일로 저장할 데이터프레임 생성
data = {
    "name": ["John", "Alice", "Bob"],
    "age": [30, 25, 35],
    "city": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# 3. 데이터프레임을 JSON 파일로 저장
df.to_json("examples/data.json")

# # JSON 파일을 읽어와 데이터프레임으로 변환
df_read = pd.read_json("examples/data.json")

print("Original DataFrame:")
print(df)

print("\nDataFrame from JSON file:")
print(df_read)

Original DataFrame:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

DataFrame from JSON file:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

# 3. HTML 데이터
## 3.1 웹 스크래핑 - read_html()

* read_html() - html 문서 내 테이블 데이터 읽어 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환
    * https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

* 개발자 도구 사용 방법
    * #s_content > div.section > ul > li:nth-child(1) > dl > dt > a

#### [예제] 미국 예금 보험 공사에서 부도 은행을 보여주는 HTML 문서 읽어오기

In [18]:
import pandas as pd
from pandas import Series, DataFrame

tables = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
type(tables)
len(tables) # 1
failures = tables[0]
failures
type(failures)
failures.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

In [19]:
# 테이터프레임 가공
# 1) 컬럼명 수정하기
failures.columns
failures.columns = ['BankNameBank', 'CityCity', 'StateSt', 'CertCert',
       'AcquiringInstitutionAI', 'ClosingDate', 'FundFund']
failures.head(3)

,BankNameBank,CityCity,StateSt,CertCert,AcquiringInstitutionAI,ClosingDate,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543

In [20]:
# 2) 데이터 변환 : 문자열 object -> datetime
close_timestamps = pd.to_datetime(failures["ClosingDate"]) # 컬럼 인덱싱
close_timestamps
#3) 년도별 부도난 은행의 개수 추출
close_timestamps.dt.year.value_counts() # Series

ClosingDate
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2023      5
2016      5
2020      4
2004      4
2019      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

#### [실습] : 네이버 주식 데이터 가져오기 - read_html()
* https://www.naver.com/ -> 증권 -> 국내증시 -> 시가총액
    * https://finance.naver.com/sise/sise_market_sum.naver

In [21]:
!pip install html5lib  lxml

Collecting html5lib
  Obtaining dependency information for html5lib from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: lxml in c:\users\ldy\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: six>=1.9 in c:\users\ldy\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ldy\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   -------------- ------------------------- 41.0/112.2 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 112.2/112.2 kB 1.6 MB/s eta 0:00:00
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [22]:
import pandas as pd

# 'euc-kr' 또는 'cp949'로 인코딩 설정하여 페이지 읽기 시도
df_list = pd.read_html("https://finance.naver.com/sise/sise_market_sum.naver",encoding = 'cp949')
type(df_list)
len(df_list)
type(df_list[1])
# 데이터프레임 확인
for df in df_list:
    print("\n",df.head())

      0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

      N       종목명       현재가      전일비     등락률     액면가       시가총액      상장주식수  \
0  NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
1  1.0      삼성전자   83600.0    900.0  -1.07%   100.0  4990738.0  5969783.0
2  2.0    SK하이닉스  182900.0   1700.0  +0.94%  5000.0  1331516.0   728002.0
3  3.0  LG에너지솔루션  374000.0   1000.0  +0.27%   500.0   875160.0   234000.0
4  4.0  삼성바이오로직스  805000.0  10000.0  -1.23%  2500.0   572951.0    71174.0

   외국인비율         거래량    PER    ROE  토론실
0    NaN         NaN    NaN    NaN  NaN
1  55.73  18342168.0  39.23   4.15  NaN
2  54.72   2289407.0 -14.61 -15.61  NaN
3   4.89    179326.0  70.74   6.36  NaN
4  12.00     39458.0  66.80   9.12  NaN

    0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [23]:
# 데이터프레임 가공- 종목명에 NaN이 읶는 행은 제거
df = df_list[1] # 컬럼 인덱싱
df.head(10)
#boolean indexing 
df['종목명'] # 1. 컬럼 추출 -Series
df['종목명'].notnull() #2. 조건 색인
data = df[df['종목명'].notnull()] # 3. 조건색인으로 인덱싱하기
data
data.head()
# 가공한 데이터프레임을 파일로 저장
data.to_csv("examples/Naver_kospi.csv")

## 3.2 웹 스크래핑 - requests

* 웹 페이지 정보 가져오기 - requests 패키지 이용
  * requests.get()
  * requests.get().status_code
  * requests.get().text

### [예제] 타겟 사이트의 json 구조로 저장된 데이터 가져오기

In [ ]:
!pip install requests

In [ ]:
#1. requests 모듈 임포트하기
import requests
import pandas as pd
#2. url 가져오기
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
#pd.read_html(url)
# 3.페이지을 가져오기
resp = requests.get(url)
type(resp)
resp.status_code #200
resp.text # 데이터 가져오기
type(resp.text)

# 4. json 내용을 딕셔너리로 변환
data = resp.json() # json의 내용을 딕셔너리 형태로 변환한 객체을 반환
type(data)
data

### [문제] 네이버 블로그의 키워드 관련 검색 결과 텍스트 데이터 가져오기 - requests 모듈 사용시 한계점

In [ ]:
import requests
# url = "https://section.blog.naver.com/Search/Post.naver?\
# pageNo=1&rangeType=ALL&orderBy=sim&keyword=%ED%8C%8C%EC%9D%B4%EC%8D%AC"

params = {
    'pageNo' : 1,
    'rangeType' : 'ALL',
    'orderBy' : 'sim',
    'keyword' : '파이썬'
}

#pd.read_html(url)
response = requests.get('https://section.blog.naver.com/Search/Post.naver?', params=params)

print(response.status_code) # HTTP GET 방식으로 URL 파라미터 값 전달
print(response.url) # status_code 는 응답코드
print(response.text) # text에는 HTML 코드

## 3.3 웹 스크래핑 - beautifulsoup (4/10일 비대면 수업)
* 웹 페이지 정보 추출하기 - beautifulsoup 사용법 
  * soup.select_one()
  * soup.select()
  * get_text()
* 개발자 도구 사용

### [문제] 네이버 지식iN의 검색어 관련 검색 결과 제목 가져오기
* 타겟 웹 사이트 : https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC
* soup.select_one()
* soup.select()
* 개발자 도구을 이용

In [7]:
import requests
from bs4 import BeautifulSoup

# 1. 타겟 웹 사이트 url
url = 'https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC'

# 2. 웹 페이지 로딩
response = requests.get(url)

if response.status_code == 200:
    # 웹 페이지 확인
    html = response.text
    # 4. html -> beautifulsoup 객체로 변환 : 원하는 데이터을 쉽게 추출
    soup = BeautifulSoup(html, 'html.parser')

    # 5. 데이터 추출 : 첫 번째 제목 선택하여 가져오기
    title = soup.select_one('#s_content > div.section > ul > li:nth-child(1) > dl > dt > a')
    # print(title)
    # print(title.get_text())

    # 6. 데이터 추출 : 제목 여러 개 선택하여 리스트 구조 가져오기
    titles = soup.select('#s_content > div.section > ul > li:nth-child(n) > dl > dt > a')
    # print(titles)

    # 7. 제목의 텍스트을 반복적으로 적용하여 가져오기
    for title in titles:
        print(title.get_text())
        
else : 
    print(response.status_code)

파이썬이 미래에 도움이 될까요?
파이썬 사용
웹개발공부와 파이썬공부
맥북 파이썬 idel
파이썬 질문
파이썬과 자바
파이썬 질문...
파이썬 배우기
파이썬강좌 독학할때 뭐보나요??
파이썬독학할 때 어떻게 공부를...

## 3.4 웹 스크래핑 - Selenium을 이용하여 크롤러
*  https://selenium-python.readthedocs.io/
* selenium 사용법
  1. 시스템의 OS 및 Chrome 브라우저의 버전 확인
  2. Chrome 드라이버 다운로드 및 설치
  3. 크롬 드라이버을 프로젝트 폴더에 저장 - 크롬 드라이버의 설치 경로
     * from selenium import webdriver
     * driver = webdriver.Chrome()
* 동적으로 웹 페이지 정보 추출하기
     * driver.get("웹주소")

### [예제] Selenium을 이용하여 자동으로 타겟 웹 사이트 실행하기
* 타겟 사이트 : https://www.google.com

In [39]:
!pip install selenium
# !pip install webdriver_manager

Requirement already satisfied: selenium in c:\users\ldy\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ldy\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\ldy\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ldy\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ldy\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ldy\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ldy\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ldy\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ldy\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ldy\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ldy\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Collecting webdriver_manager
  Obtaining dependency information for webdriver_manager from https://files.pythonhosted.org/packages/b1/51/b5c11cf739ac4eecde611794a0ec9df420d0239d51e73bc19eb44f02b48b/webdriver_manager-4.0.1-py2.py3-none-any.whl.metadata
  Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in c:\users\ldy\anaconda3\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\ldy\anaconda3\lib\site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\ldy\anaconda3\lib\site-packages (from webdriver_manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ldy\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ldy\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ldy\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ldy\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.7.22)
Downloading webdriver_manager-4.0.1-py2.py3-none-any.whl (27 kB)
Installing collected packages: webdriver_manager
Successfully installed webdriver_manager-4.0.1

In [2]:
from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager

# 1. Chrome 브라우저 실행
driver = webdriver.Chrome() # 크롬 드라이버 실행파일의 위치 - 작업디렉터리
# 2. 타겟 웹페이지 로딩
url = "https://www.google.com"
driver.get(url)
# 3. 타겟 브라우저 종료
# driver.quit()

### [문제] Selenium을 이용하여 자동으로 타겟 웹 사이트 실행하기/검색하기/검색 결과 출력하기
* 타겟 사이트: https://www.google.com
* driver.find_element()
* send_keys()

In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# 1. Chrome 브라우저 실행
driver = webdriver.Chrome()

# 2. 타겟 Google 홈페이지 열기
url = "https://www.google.com"
driver.get(url)

# 3. 페이지가 완전히 로드될 때까지 2초 대기
time.sleep(2)

# 4. 검색 기능 - 검색창-> 검색어 입력 -> 엔터 키로 클릭 처리
try:
    # 4-1 검색 상자 요소 찾기
    search_box = driver.find_element(By.NAME, "q") 

    # 4-2 검색어 입력
    search_query = "OpenAI"
    search_box.send_keys(search_query) 

    # 4-3 Enter 키를 눌러 검색 수행
    search_box.send_keys(Keys.RETURN)

    # 검색 결과가 로드될 때까지 5초 대기
    time.sleep(5)

    # 5. 검색에 관련된  결과 추출
    search_results = driver.find_elements(By.CSS_SELECTOR, "div.g") 
    
    # # 5-1 첫 번째 제목과 링크 url 추출
    # search_results = driver.find_elements(By.CSS_SELECTOR, "div.g") 
    # title = search_results[0].find_element(By.CSS_SELECTOR, "h3").text
    # url = search_results[0].find_element(By.CSS_SELECTOR, "a").get_attribute("href")
    # print("제목:", title)
    # print("URL:", url)

    # 5-2 검색 결과의 모든 제목과 링크 URL 인쇄
    for result in search_results:
        title = result.find_element(By.CSS_SELECTOR, "h3").text
        url = result.find_element(By.CSS_SELECTOR, "a").get_attribute("href")
        print("제목:", title)
        print("URL:", url)
    
except Exception as e:
    print("오류가 발생했습니다:", e)

finally:
    # 브라우저 창 닫기
    driver.quit()

제목: OpenAI
URL: https://openai.com/
제목: OpenAI
URL: https://openai.com/
제목: OpenAI
URL: https://namu.wiki/w/OpenAI
제목: OpenAI
URL: https://en.wikipedia.org/wiki/OpenAI
제목: 오픈AI - 위키백과, 우리 모두의 백과사전
URL: https://ko.wikipedia.org/wiki/%EC%98%A4%ED%94%88AI
제목: OpenAI
URL: https://twitter.com/OpenAI
제목: OpenAI
URL: https://www.linkedin.com/company/openai
제목: 설명
URL: https://www.google.com/search?q=OpenAI&sca_esv=65fba0e0f9a9cf94&source=hp&ei=DWAXZqOLG7aAvr0PlvOa6Aw&iflsig=ANes7DEAAAAAZhduHeUE7tEKAkhs88SKk4f0nJ3Ery7i&udm=&ved=0ahUKEwjjxZTrormFAxU2gK8BHZa5Bs0Q4dUDCA8&uact=5&oq=OpenAI&gs_lp=Egdnd3Mtd2l6IgZPcGVuQUkyDhAuGIAEGLEDGMcBGNEDMggQABiABBixAzIIEAAYgAQYsQMyCxAAGIAEGLEDGIMBMgUQABiABDIFEAAYgAQyCxAAGIAEGLEDGIMBMggQABiABBixAzIFEAAYgAQyBRAAGIAESNcCUABYPXAAeACQAQCYAfcBoAHoBqoBBTAuMS4zuAEDyAEA-AEBmAIEoAKrB5gDAJIHBTAuMS4zoAelHQ&sclient=gws-wiz#

### [문제] Selenium을 이용하여 네이버 증권 웹페이지 열기/ 삼성전자 일별 시세 HTML가져오기/ 10페이지 내역 테이블 데이터 찾기/검색 결과를 데이터프레임으로 변환/저장하기
* 타겟 사이트: https://finance.naver.com/item/sise.naver?code=005930*

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
#1. 크롬 드라이버 실행
driver= webdriver.Chrome()

# 2페이지 로딩 시간
time.sleep(2)

# 3. 크롤링 사이트 : 삼성전자의 일별 시세 페이지 URL 찾기
samsung_url ="https://finance.naver.com/item/sise_day.naver?code=005930&page=" #base url

# 4. 첫 페이지부터 3 페이지까지 테이블 담기
samsung_daily_kospi = [] # 리스트 선언
for num in range(1,10):
    full_url = samsung_url + str(num)
    # 4.1 해당 페이지 요청
    driver.get(full_url)
    
    
    try:
        # 4.2 페이지의 HTML 가져오기
        html = driver.page_source
        df = pd.read_html(html) # 테이블 구조 -> 데이터프레임
        # 4.3 결측치 처리 - 조건 색인을 이용한 불리언 인덱싱
        ## 조건 색인 인덱싱
        cond = df[0]['날짜'].notnull()
        samsung_day = df[0][cond]
        ## 리스트에 담기
        samsung_daily_kospi.append(samsung_day)       
        
    except Exception as e:
        print("Network Error",e)
    
    # finally:
    #     driver.quit()

print(samsung_daily_kospi)
samsung_daily_kospi_all = pd.concat(samsung_daily_kospi) # 데이터프레임 합치기
print(samsung_daily_kospi_all.head())
# samsung_daily_kospi_all.to_csv("samsung_daily_kospi_2024_04/10.csv")

[            날짜       종가     전일비       시가       고가       저가         거래량
1   2024.04.17  78900.0  1100.0  80700.0  80800.0  78900.0  22260344.0
2   2024.04.16  80000.0  2200.0  81200.0  81300.0  79400.0  31949845.0
3   2024.04.15  82200.0  1500.0  82900.0  83200.0  81200.0  26663772.0
4   2024.04.12  83700.0   400.0  84700.0  84900.0  83200.0  17061770.0
5   2024.04.11  84100.0   500.0  83200.0  84700.0  82500.0  25538009.0
9   2024.04.09  83600.0   900.0  84500.0  84900.0  83100.0  23725956.0
10  2024.04.08  84500.0     0.0  85200.0  86000.0  84500.0  18953232.0
11  2024.04.05  84500.0   800.0  84500.0  85000.0  83800.0  18883752.0
12  2024.04.04  85300.0  1200.0  85200.0  85500.0  84300.0  25248934.0
13  2024.04.03  84100.0   900.0  84300.0  85000.0  83500.0  30493347.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.04.02  85000.0  3000.0  82900.0  85000.0  82900.0  37077944.0
2   2024.04.01  82000.0   400.0  83200.0  83300.0  82000.0  20116513.0
3   2024.03.29  82400.0  1600.0  81200.0  82500.0  80900.0  27126366.0
4   2024.03.28  80800.0  1000.0  79400.0  81000.0  79200.0  25084812.0
5   2024.03.27  79800.0   100.0  79200.0  80000.0  79200.0  17424595.0
9   2024.03.26  79900.0  1700.0  79700.0  80100.0  79200.0  30551494.0
10  2024.03.25  78200.0   700.0  79600.0  79800.0  77800.0  18703996.0
11  2024.03.22  78900.0   400.0  79600.0  79900.0  77800.0  26724761.0
12  2024.03.21  79300.0  2400.0  79200.0  79300.0  77700.0  44569799.0
13  2024.03.20  76900.0  4100.0  73700.0  77200.0  73400.0  50106297.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.03.19  72800.0     0.0  72300.0  73000.0  71700.0  15376066.0
2   2024.03.18  72800.0   500.0  72600.0  73000.0  72500.0  11520348.0
3   2024.03.15  72300.0  2000.0  73400.0  73700.0  72300.0  22580555.0
4   2024.03.14  74300.0   200.0  74400.0  74500.0  73600.0  22545539.0
5   2024.03.13  74100.0   800.0  73700.0  74100.0  73500.0  15243134.0
9   2024.03.12  73300.0   900.0  72600.0  73500.0  72100.0  13011654.0
10  2024.03.11  72400.0   900.0  72900.0  73100.0  72300.0   9740504.0
11  2024.03.08  73300.0  1100.0  72800.0  73400.0  72600.0  19271349.0
12  2024.03.07  72200.0   700.0  73100.0  73300.0  72200.0  14516963.0
13  2024.03.06  72900.0   800.0  73200.0  73500.0  72700.0  21547905.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.03.05  73700.0  1200.0  74600.0  74800.0  73700.0  19505125.0
2   2024.03.04  74900.0  1500.0  74300.0  75000.0  74000.0  23210474.0
3   2024.02.29  73400.0   200.0  72600.0  73400.0  72000.0  21176403.0
4   2024.02.28  73200.0   300.0  72900.0  73900.0  72800.0  11795859.0
5   2024.02.27  72900.0   100.0  73100.0  73400.0  72700.0  13201981.0
9   2024.02.26  72800.0   100.0  72300.0  73200.0  72200.0  14669352.0
10  2024.02.23  72900.0   200.0  73600.0  74200.0  72900.0  16225166.0
11  2024.02.22  73100.0   100.0  73800.0  73900.0  72700.0  15208934.0
12  2024.02.21  73000.0   300.0  73400.0  73700.0  72900.0  11503495.0
13  2024.02.20  73300.0   500.0  73700.0  73700.0  72800.0  14681477.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.02.19  73800.0  1000.0  72800.0  73900.0  72800.0  12726404.0
2   2024.02.16  72800.0   200.0  73300.0  73400.0  72500.0  13444781.0
3   2024.02.15  73000.0  1000.0  74200.0  74400.0  73000.0  14120600.0
4   2024.02.14  74000.0  1200.0  73700.0  74300.0  73700.0  12434945.0
5   2024.02.13  75200.0  1100.0  74800.0  75200.0  74400.0  21966745.0
9   2024.02.08  74100.0   900.0  75000.0  75200.0  73600.0  20810708.0
10  2024.02.07  75000.0   600.0  74600.0  75500.0  74300.0  16566445.0
11  2024.02.06  74400.0   100.0  74300.0  74700.0  73300.0  14559254.0
12  2024.02.05  74300.0   900.0  74200.0  74800.0  73500.0  19026021.0
13  2024.02.02  75200.0  1600.0  74000.0  75200.0  73700.0  14955881.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.02.01  73600.0   900.0  73000.0  74200.0  72900.0  19881033.0
2   2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  15703560.0
3   2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
4   2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
5   2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
9   2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
10  2024.01.24  74000.0  1200.0  75200.0  75200.0  73500.0  12860661.0
11  2024.01.23  75200.0   100.0  75700.0  75800.0  74300.0  14786224.0
12  2024.01.22  75100.0   400.0  75900.0  76000.0  75000.0  19673375.0
13  2024.01.19  74700.0  3000.0  73500.0  74700.0  73000.0  23363427.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.01.18  71700.0   700.0  71600.0  72000.0  70700.0  17853397.0
2   2024.01.17  71000.0  1600.0  73100.0  73300.0  71000.0  22683660.0
3   2024.01.16  72600.0  1300.0  73500.0  73700.0  72500.0  14760415.0
4   2024.01.15  73900.0   800.0  73200.0  74000.0  73200.0  13212339.0
5   2024.01.12  73100.0   100.0  73000.0  74100.0  72800.0  13038939.0
9   2024.01.11  73200.0   400.0  72900.0  73600.0  72700.0  57691266.0
10  2024.01.10  73600.0  1100.0  75000.0  75200.0  73200.0  20259529.0
11  2024.01.09  74700.0  1800.0  77400.0  77700.0  74300.0  26019249.0
12  2024.01.08  76500.0   100.0  77000.0  77500.0  76400.0  11088724.0
13  2024.01.05  76600.0     0.0  76700.0  77100.0  76400.0  11304316.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.01.04  76600.0   400.0  76100.0  77300.0  76100.0  15324439.0
2   2024.01.03  77000.0  2600.0  78500.0  78800.0  77000.0  21753644.0
3   2024.01.02  79600.0  1100.0  78200.0  79800.0  78200.0  17142847.0
4   2023.12.28  78500.0   500.0  77700.0  78500.0  77500.0  17797536.0
5   2023.12.27  78000.0  1400.0  76700.0  78000.0  76500.0  20651042.0
9   2023.12.26  76600.0   700.0  76100.0  76700.0  75700.0  13164909.0
10  2023.12.22  75900.0   900.0  75800.0  76300.0  75400.0  14515608.0
11  2023.12.21  75000.0   200.0  74600.0  75000.0  74300.0  13478766.0
12  2023.12.20  74800.0  1400.0  74200.0  74900.0  73800.0  16870156.0
13  2023.12.19  73400.0   500.0  73000.0  73400.0  72800.0   8907632.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2023.12.18  72900.0   400.0  73300.0  73400.0  72800.0   9690551.0
2   2023.12.15  73300.0   200.0  73800.0  74000.0  73200.0  15419815.0
3   2023.12.14  73100.0   300.0  74100.0  74300.0  72500.0  27567593.0
4   2023.12.13  72800.0   700.0  73300.0  73500.0  72800.0  13116766.0
5   2023.12.12  73500.0   500.0  73300.0  73500.0  73100.0  13758646.0
9   2023.12.11  73000.0   400.0  72800.0  73000.0  72200.0   9861960.0
10  2023.12.08  72600.0  1100.0  72100.0  72800.0  71900.0  10859463.0
11  2023.12.07  71500.0   200.0  71800.0  71900.0  71100.0   8862017.0
12  2023.12.06  71700.0   500.0  71800.0  72100.0  71600.0   8123087.0
13  2023.12.05  71200.0  1400.0  72300.0  72400.0  71200.0  12129682.0]
           날짜       종가     전일비       시가       고가       저가         거래량
1  2024.04.17  78900.0  1100.0  80700.0  80800.0  78900.0  22260344.0
2  2024.04.16  80000.0  2200.0  81200.0  81300.0  79400.0  31949845.0
3  2024.04.15  82200.0  1500.0  82900.0  83200.0  81200.0  26663772.0
4  2024.04.12  83700.0   400.0  84700.0  84900.0  83200.0  17061770.0
5  2024.04.11  84100.0   500.0  83200.0  84700.0  82500.0  25538009.0